.media-img
{
	width: 150px;
    height: 150px;
    margin: 10px;
    border: 1px solid #ccc;
}
.image-preview-wrapper
{
	margin-top:10px;
}

.connectedli  li 
{ 
	margin: 10px;
 	padding: 1px; 
 	float: left; 
 	border:1px solid #ccc;
 }
 .clear
 {
 	clear:both;
 }